<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="login.Properties.Settings.EMRConnectionString" connectionString="Data Source=DESKTOP-0BRR26C;Initial Catalog=EMR;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>